<p id="notice"><%= notice %></p>
<h1>Your Location</h1>

  <div class="field">
    <p>Address: </p>
    <%= request.location.address %>
  </div>

  <div class="field">
    <p>Latitude: </p>
    <%= request.location.latitude %>
  </div>

  <div class="field">
    <p>Longitude: </p>
    <%= request.location.longitude %>
  </div>

  <h3>Nearby Hospital</h3>

  <ul>
    <% for location in @location.nearbys(10) %>
      <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
    <% end %>
  </ul>


<%
=begin %>
<h2>Hospital Locations</h2>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.address %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
<%
=end %>
